In [197]:
# -*- coding: utf-8 -*-

#%% Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [198]:
#%% Importing Data
flights_data = pd.read_csv('flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()

In [199]:
flights_data.head(10)

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
5,6,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0
6,7,2013,1,1,555.0,-5.0,913.0,19.0,B6,N516JB,507,EWR,FLL,158.0,1065,5.0,55.0
7,8,2013,1,1,557.0,-3.0,709.0,-14.0,EV,N829AS,5708,LGA,IAD,53.0,229,5.0,57.0
8,9,2013,1,1,557.0,-3.0,838.0,-8.0,B6,N593JB,79,JFK,MCO,140.0,944,5.0,57.0
9,10,2013,1,1,558.0,-2.0,753.0,8.0,AA,N3ALAA,301,LGA,ORD,138.0,733,5.0,58.0

In [200]:
#Question 1 How many flights were there from JFK to SLC? Int q_1 
#Filter the data to flights that flew from JFK to SLC
new_df = flights_data.loc[(flights_data['origin'] == "JFK") & (flights_data['dest'] == "SLC")]

#Shape returns the number of rows which equals the number of flights
q_1 = new_df.shape[0]
q_1

2113

In [201]:
#Question 2 How many airlines fly to SLC? Should be intq_2 
#group by flight destination
dest_grp = flights_data.groupby(['dest'])
#Then select just SLC from the group by destination data
dest_grp2 = dest_grp.get_group('SLC')
#Get the counts of each carrier that flies to slc and return then number of rows of carriers that fly to SLC
intq_2 = dest_grp2['carrier'].value_counts().shape[0]
intq_2

2

In [202]:
#Question 3 What is the average arrival delay for flights to RDU? floatq_3

#Group by dest
dest_grp = flights_data.groupby(['dest'])
#Get just the data that flys to RDU
dest_grp2 = dest_grp.get_group('RDU')
#Get the mean of that data
floatq_3 = dest_grp2['arr_delay'].mean()
floatq_3

10.052380952380952

In [203]:
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  floatq_4 

#filter to rows where the destination is SEA
q4 = flights_data.loc[(flights_data['dest'] == "SEA")]

#summarize the above by origin. Normalize returns the counts as percentages
q4_pt2 = q4['origin'].value_counts(normalize=True)

#use iloc so I can go by integer location to just print the pertentage of flights that came from JFK. There are none from LGA. 
floatq_4 = q4_pt2.iloc[0]
floatq_4

0.5332653581442773

In [204]:
#Question 5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)q_5 


#Creating a date column 

flights_data['year'] = flights_data['year'].astype(str)
flights_data['month'] = flights_data['month'].astype(str)
flights_data['day'] = flights_data['day'].astype(str)
flights_data['dep_dt'] = flights_data[['year', 'month', 'day']].agg('/'.join, axis=1)


#Group by dep_dt
dep_dt_grp = flights_data.groupby(['dep_dt'])

#average and max 
avg = dep_dt_grp['dep_delay'].mean()
print(avg.idxmax(), ',', avg.max() )

2013/3/8 , 83.5369211514393

In [205]:
#Question 6 Which date has the largest average arrival delay? pd slice with date and floatq_6 
#Group by dep_dt
arr_dt_grp = flights_data.groupby(['dep_dt'])

#average and max 
avg = arr_dt_grp['arr_delay'].mean()
print(avg.idxmax(), ',', avg.max() )

2013/3/8 , 85.86215538847118

In [206]:
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtimeq_7
q7 = flights_data.loc[(flights_data['origin'] == "JFK") | (flights_data['origin'] == "LGA")]
q7_min = q7['air_time'].min()
results = q7.loc[(q7['air_time']) == 21.0]
results

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute,dep_dt
137620,137621,2013,3,2,1450.0,-10.0,1547.0,-21.0,US,N947UW,2132,LGA,BOS,21.0,184,14.0,50.0,2013/3/2
143445,143446,2013,3,8,2026.0,51.0,2131.0,35.0,9E,N8501F,3650,JFK,PHL,21.0,94,20.0,26.0,2013/3/8

In [207]:
#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nansq_8 
weather_data_pd.fillna(0)

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8714,8715,JFK,2013,9.0,2.0,20.0,75.20,73.40,94.14,200.0,4.60312,5.297178,0.0,0.0,4.0
8715,8716,JFK,2013,10.0,23.0,10.0,48.92,39.02,68.51,60.0,4.60312,5.297178,0.0,1008.1,10.0
8716,8717,JFK,2013,10.0,23.0,11.0,48.92,39.02,68.51,40.0,4.60312,5.297178,0.0,1008.5,10.0
8717,8718,JFK,2013,12.0,17.0,5.0,26.96,10.94,50.34,40.0,4.60312,5.297178,0.0,1023.9,10.0
8718,8719,LGA,2013,8.0,22.0,22.0,75.92,66.92,73.68,210.0,8.05546,9.270062,0.0,1011.9,10.0

In [208]:
#Question 9 How many observations were made in Feburary? Intq_9 
weather_data_pd.loc[(weather_data_pd['month'] == 2.0)].shape[0]

671

In [209]:
#Question 10 What was the mean for humidity in February? Floatq_10
feb_data = weather_data_pd.loc[(weather_data_pd['month'] == 2.0)]
np.mean(feb_data['humid'])

62.91815201192251

In [210]:
#Question 11 What was the std for humidity in February? Floatq_11

np.std(feb_data['humid'])

20.33690087674334