In [322]:
"""BMI 6018 Fall 2022 

Instructions: For this assignment, please return all answers as variables in your
.py file. You will quickly note that you will need to find answers outside the
class lectures. This is not an accident! You will need to become professionally
comfortable with looking things up via the python docs and google. 

Ensure that all variables are labelled according to the example. IE the answer
to problem 1 part c should be labelled one_c. While all questions are answerable
with a single line of code, you are free to use helper variables so long as they
are helpfully/informatively named. 

I should be able to open your .py file and run it without errors. I will **not** be 
debugging your code for you. If your file does not run, it will **not** be graded. 
If you are unsure if your file will run, open up a chpc terminal and test it there.

For this assignment, please only use base python files types. That is: there 
should be no import calls in your file save my use of sys at the end.

Example Problem

0.a Create a list of strings
0.b Using a str method, capitalize one of the elements in the list using a slice
0.c Coerce one character of the list to display as a hex

zero_a = ['first','second','third','fourth','fifth']
zero_b = zero_a[1].upper()
zero_c = hex(ord(zero_a[1][1]))

#Problem 1: Lists, Sets and Coersion

1.a Create a list of integers no fewer than 10 items from 0 to 9.
 .b Add 3 to the 5th indexed element
 .c Coerce all elements in the list to floats using list comprehension
 .d Coerce the list to a set
 .e Using a method, append int 10 to the set
 .f Using a method, pop an item from the set
 .g Using a length counting function, count the number of items in the set
 .h Check if the number of items in the set is the same as the 
    number of items in the list
 .i Coerce the set to a list and use the "+" operator combine the list to the list from 1.a
 .j Coerce 1.i to a set
 .k Count the number of elements in the 1.j



Problem 2: Dictionary woes

2.a Combine the three sample dictionaries (given below) into a nested dictionary (nested in programming means joined), named 
    two_a, ensure the key names are the same as the dictionary names.
 .b Using keys, retrieve the Dango's name from 2.a
 .c Using keys, update the value of Mochi's year to 2018. This should not be a variable
    and should simply update 2.a.
 .d Manually create a dictionary that has a single level and contains each patient
    as the key and the year as the value. Set Mochi's year to 2019.'
 .e Coerce the keys of 2.d into a list
 .f Coerce the values of 2.d into a list
 .g Use the zip function to combine 2.e and 2.f into a dictionary again


two_patient_dictionary_kinoko = {
  "name" : "Kinoko",
  "year" : 2021
}
two_patient_dictionary_dango = {
  "name" : "Dango",
  "year" : 2019
}
two_patient_dictionary_mochi  = {
  "name" : "Mochi",
  "year" : 2020
}



Problem 3: Set combinations

Given the predefined sets below and using set methods
3.a Is set E a subset of set A
 .b Is set E a strict subset of set A
 .c Create a set that is the intersection of set A and set B
 .d Create a set that is the union of sets C, D and E
 .e add 9 to the set
 .f Using == compare this set to the list in one_a
 .g Explain why they are not the same. What would you need to change if you
    wanted this to be True?
 

three_setA = {1,2,3,4,5}
three_setB = {2,3,4,5,6}
three_setC = {3,5,7,9}
three_setD = {2,4,6,8}
three_setE = {1,2,3,4}



Problem 4: Changing variable types

For each step you will modify a variable, then append the type of the variable
to a list. Do not recreate the list variable, it should be a running list of 
types.

4.a Create a variable of type int with the value of 8
 .b Create an empty list 
 .c Using type(), add the type of 4.a to this list
 .d Add 0.39 to 4.c
 .e append the type of 0.39 to the list
 .f exponentiate to the -10, ie: 4.d^-10,(hint: there might be an artihmetic operator to do so) round it to no 
    decimal places, and append to list.
 .g append the type to the list
 
 
Problem 5: More variable type changes

Continue from where you left off in Problem 4.

5.a Manually create a dictionary where the values are items in the list from where we left in 
    problem 4, and the keys should be their index in the list. Print the dictionary.
 .b Add 300 and coerce it into a string
 .c append the type to the list
 .d slice the string up to the 2nd element
 .e append the type to the list
 .f use list comprehension to convert this into a new list of integers
 .g append the type to the list
 .h append the type of three_setA to the list
"""

#Start your assignment here
print("Assignment 3")

Assignment 3

In [323]:
#Problem 1: Lists, Sets and Coersion

#Create a list of integers no fewer than 10 items from 0 to 9.
one_a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
one_a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [324]:
#Add 3 to the 5th indexed element
one_b = one_a[5] + 3
one_b

8

In [325]:
#Coerce all elements in the list to floats using list comprehension
one_c = [float(x) for x in one_a]
one_c

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [326]:
#Coerce the list to a set
one_d = set(one_a)
one_d

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [327]:
#Using a method, append int 10 to the set
one_e = one_d
one_d.add(10)
one_e

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [328]:
#Using a method, pop an item from the set
one_f = one_d.pop()
one_f

0

In [329]:
#Using a length counting function, count the number of items in the set
one_g = len(one_d)
one_g

10

In [330]:
#Check if the number of items in the set is the same as the number of items in the list
one_h = one_a == one_f
one_h

False

In [331]:
#Coerce the set to a list and use the "+" operator combine the list to the list from 1.a
one_i = list(one_d) + one_a
one_i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [332]:
#Coerce 1.i to a set
one_j = set(one_i)
one_j

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [333]:
# Count the number of elements in the 1.j
one_k = len(one_j)
one_k

11

In [334]:
#Problem 2: Dictionary woes

#a Combine the three sample dictionaries into a nested dictionary 
two_a = {'two_patient_dictionary_kinoko':{"name" : "Kinoko","year" : 2021},
'two_patient_dictionary_dango': {"name" : "Dango", "year" : 2019},
'two_patient_dictionary_mochi': {"name" : "Mochi","year" : 2020}}
two_a

{'two_patient_dictionary_kinoko': {'name': 'Kinoko', 'year': 2021},
 'two_patient_dictionary_dango': {'name': 'Dango', 'year': 2019},
 'two_patient_dictionary_mochi': {'name': 'Mochi', 'year': 2020}}

In [335]:
#b Using keys, retrieve the Dango's name from 2.a
two_b = two_a['two_patient_dictionary_dango']['name']
two_b

'Dango'

In [336]:
#c Using keys, update the value of Mochi's year to 2018.
two_a['two_patient_dictionary_mochi']['year'] = 2018
two_a

{'two_patient_dictionary_kinoko': {'name': 'Kinoko', 'year': 2021},
 'two_patient_dictionary_dango': {'name': 'Dango', 'year': 2019},
 'two_patient_dictionary_mochi': {'name': 'Mochi', 'year': 2018}}

In [337]:
#d  Manually create a dictionary that has a single level and contains each patient as the key and the year as the value. Set Mochi's year to 2019.'
two_d = {'Kinoko': 2021, 'Dango': 2019, 'Mochi': 2019}
two_d

{'Kinoko': 2021, 'Dango': 2019, 'Mochi': 2019}

In [338]:
#e Coerce the keys of 2.d into a list
two_e = list(two_d.keys())
two_e

['Kinoko', 'Dango', 'Mochi']

In [339]:
#f Coerce the values of 2.d into a list
two_f = list(two_d.values())
two_f

[2021, 2019, 2019]

In [340]:
#g Use the zip function to combine 2.e and 2.f into a dictionary again
two_g = {two_e: two_f for two_e,
    two_f in zip(two_e, two_f)}
two_g

{'Kinoko': 2021, 'Dango': 2019, 'Mochi': 2019}

In [341]:
#Problem 3: Set combinations
#a Is set E a subset of set A

three_setA = {1,2,3,4,5}
three_setB = {2,3,4,5,6}
three_setC = {3,5,7,9}
three_setD = {2,4,6,8}
three_setE = {1,2,3,4}

three_a = three_setE.issubset(three_setA)
three_a

True

In [342]:
#b Is set E a strict subset of set A
three_b = three_setA.issuperset(three_setE)
three_b

True

In [343]:
#c Create a set that is the intersection of set A and set B
three_c = three_setA.intersection(three_setB)
three_c

{2, 3, 4, 5}

In [344]:
#d Create a set that is the union of sets C, D and E
three_d = three_setC.union(three_setD, three_setE)
three_d

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [345]:
#e add 9 to the set
three_e = three_d
three_e.add(9)
three_e

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [346]:
#f Using == compare this set to the list in one_a
three_f = three_e == one_a
three_f

False

In [347]:
# .g Explain why they are not the same. What would you need to change if you wanted this to be True?

'''
three_e is missing 0 and is not a list so comparing three_e to one_a returns false. When I add 0 and make three_e a list the output is True. 
'''
three_e.add(0) #add zero to set
list(three_e) == one_a #compare the two as lists

True

In [348]:
#Problem 4: Changing variable types
'''
For each step you will modify a variable, then append the type of the variable
to a list. Do not recreate the list variable, it should be a running list of 
types.
'''
#a Create a variable of type int with the value of 8
four_a = 8
four_a

8

In [349]:
#b Create an empty list 
four_b = []
four_b

[]

In [350]:
#c Using type(), add the type of 4.a to this list
four_b.append(type(four_a))
four_b

[int]

In [351]:
#.d Add 0.39 to 4.c
four_d = 0.39
four_b.append(four_d)
four_b

[int, 0.39]

In [352]:
#e append the type of 0.39 to the list
four_b[1] = type(four_b[1])
four_b

[int, float]

In [353]:
#.f exponentiate to the -10, ie: 4.d^-10,(hint: there might be an artihmetic operator to do so) round it to no decimal places, and append to list.
exp_four_d = round(four_d**-10)
four_b.append(exp_four_d)
four_b

[int, float, 12284]

In [354]:
#g append the type to the list
four_b[2] = type(four_b[2])
four_b

[int, float, int]

In [366]:
 #Problem 5: More variable type changes

#a Manually create a dictionary where the values are items in the list from where we left in problem 4, and the keys should be their index in the list. 
five_a = {0 :"int", 1:"float", 2: "int"}
#print dictionary
print(five_a)

{0: 'int', 1: 'float', 2: 'int'}

In [356]:
#b Add 300 and coerce it into a string
five_b = '300'
four_b.append(five_b)
four_b

[int, float, int, '300']

In [357]:
#c append the type to the list
four_b[3] = type(four_b[3])
four_b

[int, float, int, str]

In [358]:
#d slice the string up to the 2nd element
five_d = five_b[:2]
five_d

'30'

In [359]:
#e append the type to the list
four_b.append(type(five_d))
four_b

[int, float, int, str, str]

In [361]:
#f use list comprehension to convert this into a new list of integers
five_f = [1 for x in four_b ]
five_f

[1, 1, 1, 1, 1]

In [362]:
#g append the type to the list
four_b.append(type(five_f))
four_b

[int, float, int, str, str, list]

In [364]:
#h append the type of three_setA to the list
four_b.append(type(three_setA))
four_b

[int, float, int, str, str, list, set]