In [1]:
import pandas as pd
import math 
#Question 1 (15 Points)
#Compute the euclidean distance between series (points) p and q, without using a packaged formula.
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

q1 = (p-q)**2
q1 = sum(q1)
q1 = math.sqrt(q1)
q1

18.16590212458495

In [2]:
import numpy as np
#Question 2 (15 Points)
#Change the order of columns of a dataframe. Interchange columns 'a' and 'c'.

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df = df[['c', 'b', 'a', 'd', 'e']]
df

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [3]:
#Question 3 (15 Points)
#Change the order of columns of a dataframe.  Create a generic function to interchange two columns, without hardcoding column names.

def reorder(df):
    new_df = df.iloc[:, [2, 1, 0, 3, 4]]
    return new_df



df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
new_df = reorder(df)
new_df

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [12]:
#Question 4 (15 Points)
#Format or suppress scientific notations in a pandas dataframe. Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

pd.options.display.float_format = '{:.4f}'.format
print(df)

   random
0  0.0000
1  0.0000
2  0.1235
3  0.0484

In [40]:
#Question 5 (15 Points)
Create a new column that contains the row number of nearest column by euclidean distance. Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.
Input
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df
#     p   q   r   s
# a  57  77  13  62
# b  68   5  92  24
# c  74  40  18  37
# d  80  17  39  60
# e  93  48  85  33
# f  69  55   8  11
# g  39  23  88  53
# h  63  28  25  61
# i  18   4  73   7
# j  79  12  45  34
Desired Output
df
#    p   q   r   s nearest_row   dist
# a  57  77  13  62           i  116.0
# b  68   5  92  24           a  114.0
# c  74  40  18  37           i   91.0
# d  80  17  39  60           i   89.0
# e  93  48  85  33           i   92.0
# f  69  55   8  11           g  100.0
# g  39  23  88  53           f  100.0
# h  63  28  25  61           i   88.0
# i  18   4  73   7           a  116.0
# j  79  12  45  34           a   81.0

SyntaxError: invalid syntax (546423077.py, line 1)

In [19]:
#Question 6 (15 Points)

#Correlation is a statistical technique that shows how two variables are related. Pandas dataframe.corr() method is used for
#creating the correlation matrix. It is used to find the pairwise correlation of all columns in the dataframe. Any na values 
#are automatically excluded. For any non-numeric data type columns in the dataframe it is ignored.

data = {'A': [45, 37, 0, 42, 50],
        'B': [38, 31, 1, 26, 90],
        'C': [10, 15, -10, 17, 100],
        'D': [60, 99, 15, 23, 56],
        'E': [76, 98, -0.03, 78, 90]
        }

df = pd.DataFrame(data = data)
df.corr()

       A      B      C      D      E
A 1.0000 0.7560 0.6244 0.4938 0.9286
B 0.7560 1.0000 0.9667 0.3636 0.6496
C 0.6244 0.9667 1.0000 0.2189 0.5281
D 0.4938 0.3636 0.2189 1.0000 0.7202
E 0.9286 0.6496 0.5281 0.7202 1.0000